body
{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0.1)),url('../img/booking-back.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}
.header
{
    text-align: right;
    margin: 50px;
}
.header img
{
    float: left;
    height: 50px;
}
.header a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    color: white;
    font-family: 'Indie Flower', cursive;
}
.contact-info
{   
    position: relative;
    text-align: center;
    background-color:rgba(0,0,0,0.3);
    width: 30%;
    height: 73%;
    top: 4%;
    left: 10%;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 40px;
    border: 1.5px solid gold;
}
.text-info
{
    position: relative;
    top: 10px;
}
h1
{
    font-size: 30px;
    color: gold;
}
h3
{
    font-size: 18px;
    color: gold;
}
p
{
    font-size: 15px;
}
hr
{
    width: 70%;
    
}
.contact
{
    display: inline-block;
}
.contact-num
{
    margin-left: 10px;
}
.booking
{
    position: absolute;
    top: 0;
    left: 150%;
    background-color:rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 40px;
    border: 1.5px solid gold;
}
span
{
    color: red;
    font-family: 'Lato', sans-serif;
}
p
{
    display: inline-block;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Lato', sans-serif;
}
#write
{
    margin-left: 60px;
    border: 1px solid black;
    width: 200px;
}
#write-service
{
    margin-left: 50px;
    width: 200px;
    background-color: gold;
    border: 1px solid black;
}
#write-email
{
    margin-left: 60px;
    border: 1px solid black;
    width: 200px;
}
input
{
    position: relative;
    border-radius: 5px;
    bottom: 3px;
    background: gold;
    height: 30px;
    width: 40%;
}
#btn
{
    position: relative;
    left: 0;
    width: 25%;
    background: black;
    color: white;
    transition: 0.4s;
    border: 1px solid gold;
    cursor: pointer;
}
#btn:hover{
    background: green;
    color: gold;
    border: 0;
}